<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Untitled Custom SSG</title>
</head>
<body>

<h1>Necklaces!</h1>

{{ range . }}
  <div>
  <p>Item name: {{ .Name }}</p>
  <p>Price ${{ .OriginalPrice }}</p>
  <img src={{ .Image }}>
  </div>
{{ end }}

</body>
</html>